{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block inner %}

<style>
  /* Add your custom styles here to match the theme */

  body {
    background: linear-gradient(to bottom,  #002466, #ffffff);
    color: #fff;
    margin: 0;
    font-family: 'Consolas', serif;
    overflow-x: hidden; /* Prevent horizontal scrolling */
  }

  .container {
    padding: 2vw;
    text-align: left;
  }

  h1 {
    font-size: 4vw;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .button {
    background: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transform: skew(-21deg);
    margin-top: 20px; /* Add margin for spacing */
  }

  .button::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    left: 0;
    background: #002466;
    opacity: 0;
    z-index: -1;
    transition: all 0.5s;
  }

  .button:hover::before {
    left: 0;
    right: 0;
    opacity: 1;
  }

  .login-form {
    margin-top: 20px;
  }

  .login-form input[type="text"],
  .login-form input[type="password"] {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #fff;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
  }

  .login-form .secondaryAction {
    text-decoration: none;
    margin-right: 10px;
  }

  .login-form .primaryAction {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 3px;
  }

  .login-form .primaryAction:hover {
    color: white;
    background-color: white;
  }
</style>

<div class="container">
  <h1>{% trans "Sign In" %}</h1>

  <form class="login-form" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form|crispy }}
    <!-- {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %} -->
    <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    <a href="{% url 'home'  %}">
      <button class="button primaryAction btn btn-primary" type="submit">Sign In</button>
    </a>
  </form>

</div>

{% endblock %}
