{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static i18n %}

{% block title %}localsights{% endblock title %}

{% block css %}
    <!-- Latest compiled and minified Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Your stuff: Third-party CSS libraries go here -->
    <!-- This file stores project-specific CSS -->

    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    <!-- Your specific CSS file for the maps page -->
    <link href="{% static 'css/maps.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="pageholder">
    <div class="titleholder"> 
        
        <div class="title"> Temp distances only using 2 locations! </div> 
        
    </div>


    <div class="linkholder">
        {% if distances.count == 0 %}
            <div> No data available </div>
        {% else %}
            <table id="ourtable3" class="myTable m-3">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>From Location</th>
                        <th>To Location</th>
                        <th>Mode</th>
                        <th>Distance in km</th>
                        <th>Duration in mins</th>
                        <th>Duration traffic in mins</th>
                       
                    </tr>
                </thead>

                <tbody>
                    {% for a in distances %}
                    <tr>
                        <td> {{a.id}} </td>
                        <td> {{a.from_location}} </td>
                        <td> {{a.to_location}} </td>
                        <td> {{a.mode}} </td>
                        <td> {{a.distance_km}} </td>
                        <td> {{a.duration_mins}} </td>
                        <td> {{a.duration_traffic_mins}} </td>
                       
                    </tr>

                    {% endfor%}
                </tbody>

                
            </table>
        {% endif %}
        
     </div>

    <form method="post">
        {% csrf_token %}
        <div class="linkholder"> 
            
            <div class="form1 ml-3"> {{form.from_location|as_crispy_field}} </div>
            <div class="form1 ml-3"> {{form.to_location|as_crispy_field}} </div>
            <div class="form1 ml-3"> {{form.mode|as_crispy_field}} </div>

            <button class="ourbutton" type="submit"> Submit </button>


        </div>
    </form>

</div>


{% endblock %}