{% extends "base.html" %}

{% block content %}
<style>
    body {
        background: linear-gradient(to bottom, #002466, #ffffff);
        color: #fff;
        margin: 0;
        font-family: 'Consolas', serif;
        overflow-x: hidden; /* Prevent horizontal scrolling */
    }

    .container {
        padding-bottom: 20vw;
        padding: 2vw;
        text-align: left;
    }

    h1 {
        top: 1vw;
        left: 10%;
        font-size: 4vw;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .button {
        background: #fff;
        border: none;
        padding: 10px 20px;
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase;
        cursor: pointer;
        transform: skew(-21deg);
        margin-top: 20px; /* Add margin for spacing */
    }

    .span {
        display: inline-block;
        transform: skew(21deg);
    }

    .button::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 100%;
        left: 0;
        background: #002466;
        opacity: 0;
        z-index: -1;
        transition: all 0.5s;
    }

    .button:hover {
        color: #fff;
    }

    .button:hover::before {
        left: 0;
        right: 0;
        opacity: 1;
    }

    .location-table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 30px; /* Add margin for spacing */
        left: 5%;
    }

    .location-table th{
        padding: 1vw;
        border-bottom: 1px solid #fff;
        text-align: left;
        background-color: #002466;
    }

    .location-table td {
        padding: 1vw;
        border-bottom: 1px solid #fff;
        text-align: left;
    }

    .location-table tbody tr:nth-child(even) {
        background-color: #555555;
    }

    .location-buttons a {
        margin-right: 10px; /* Add margin between buttons */
    }

    .location-buttons a.btn-primary,
    .location-buttons a.btn-danger {
        background: transparent;
        color: #fff;
        border: 1px solid #fff;
        padding: 5px 10px;
        font-size: 14px;
        text-transform: uppercase;
        cursor: pointer;
        border-radius: 3px;
        transition: background-color 0.3s ease, color 0.3s ease;
    }


  
    .location-buttons a.btn-danger:hover {
        background-color: #f77a7a;
        color: #fafafa;
    }

    .location-buttons a.btn-primary:hover{
        background-color: #6e82f5;
        color: #fafafa;
    }

</style>

<div class="container">
    <h1>Your Maps</h1>
    <p>Click on your map name to view directions!</p>

    <table class="location-table">
        <tr>
            <th>Name</th>
            <th>Creator</th>
            <th>Zoom Level</th>
            <th>Date</th>
            <th>  </th>
        </tr>

        {% if map_list %}
        <tbody>
            {% for map in map_list %}
            <tr>
                <td><a href="{{ map.get_absolute_url }}">{{ map.name }}</a></td>
                <td>{{ map.creator }}</td>
                <td>{{ map.zoom_level }}</td>
                <td>{{ map.date }}</td>
                <td class="location-buttons">
                    <a href="{% url 'map-update' map.id %}" class="btn btn-primary">Update</a>
                    <a href="{% url 'map-delete' map.id %}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
        {% else %}
        </table>
        <p>There are no maps yet.</p>
        {% endif %}
        <a href="{% url 'map-create' %}">
          <button type="button" class="button">Create Map +</button>
      </a>
</div>
{% endblock %}
